.App {
  height: unset;
}

.App-barraTitulo {
  background-image: linear-gradient(90deg, #f4ffff, #4B67A4);
  font-style: oblique;
  font-family: Verdana;
  color: #121C3F;
  text-shadow: 3px 3px 6px black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.App-header {
  background-image: linear-gradient(0deg, #E6EDF1, #F7FAFB);
  display: flex;
  flex-wrap: wrap;
  float: center;
  font-size: 10%;
  color: #e2d3ff;
  border-top: medium solid #6A7C95;
  border-bottom: medium solid #6A7C95;
}

.App-principal {
  background-image: linear-gradient(0deg, #769Cf3, #B6E0F8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #393c50;
}
.App-principal-variante {
  background-image: linear-gradient(0deg, #475D83, #263C62);
  padding: 0 15px 15px 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #e2d3ff;
  flex-direction: column;
}
.App-barraTitulo {
  background-image: linear-gradient(90deg, #f4ffff, #4B67A4);
  padding: 0px;
  font-size: 400%;
  margin: 0;
  font-style: oblique;
  font-family: Verdana;
  color: #121C3F;
  text-shadow: 3px 3px 6px black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.Tarjeta{
  font-weight: 900;
  font-style: oblique;
  font-family: Verdana;
  text-shadow: 0px 0px 5px #182769;
  font-size: 400%;
}

.App-link {
  color: #525194;
}

/* -- GUI Text -- */

.titulos{
  margin-left: 30px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.subtitulos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-style: oblique;
}

/* -- NAVBAR -- */
.boton{
color: #525194;
text-shadow: 3px 3px 7px #464646;
float: center;
}

/*  -- FOOTER --  */
.main-footer {
  color: #525194;
  background-color: #191942;
  padding-top: 20px;
  padding-bottom: 100%;
  width: 100%;
  position: fixed;
  min-height: 100vh;
}

/* --CONFIGURACION--*/

.botonConfig {
  margin-top: 10px;
  margin-bottom: 20px;
}

.campos{
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  font-style: oblique;
  margin: 20px;
}

/* LOGIN */

.login {
  background-image: url("./assets/img/clinica.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.register {
  background-image: url("./assets/img/clinica2.jpg");
  background-size: cover;
  background-position: center;
  height: 110vh;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 999;
  width: 370px;
  text-align: center;
  padding: 60px 32px;
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.content header{
  color: black;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}

.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  margin-top: 20px;
}

.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}

.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  cursor: pointer;
  display: none;
  font-family: 'Montserrat',sans-serif;
}

.password:valid ~ .show{
  display: block;
}

.space{
  margin-top: 16px;
}

.pass a{
  color: black;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

.pass:hover a{
  text-decoration: underline;
}

input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

.signup{
  color: black;
  font-size: 15px;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}

.checkText {
  font-size: 12px;
}