.App {
  height: unset;
}

.App-barraTitulo {
  background-image: linear-gradient(90deg, #f4ffff, #4B67A4);
  padding: 0px;
  font-size: 300%;
  margin: 0;
  font-style: oblique;
  font-family: Verdana;
  color: #121C3F;
  text-shadow: 3px 3px 6px black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.App-header {
  background-image: linear-gradient(0deg, #E6EDF1, #F7FAFB);
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  float: center;
  font-size: 10%;
  color: #e2d3ff;
  border-top: medium solid #6A7C95;
  border-bottom: medium solid #6A7C95;
}

.App-principal {
  background-image: linear-gradient(0deg, #769Cf3, #B6E0F8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #393c50;
}
.App-principal-variante {
  background-image: linear-gradient(0deg, #475D83, #263C62);
  padding: 0 15px 15px 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #e2d3ff;
  flex-direction: column;
}

.Tarjeta{
  font-weight: 900;
  font-style: oblique;
  font-family: Verdana;
  text-shadow: 0px 0px 5px #182769;
  font-size: 400%;
}

.App-link {
  color: #525194;
}

/* -- GUI Text -- */

.titulos{
  margin-left: 30px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.subtitulos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-style: oblique;
}

/* -- NAVBAR -- */
.boton{
color: #525194;
text-shadow: 3px 3px 7px #464646;
padding: 0;
margin: auto;
float: center;
}

/*  -- FOOTER --  */
.main-footer {
  color: #525194;
  background-color: #191942;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

/* --CONFIGURACION--*/

.botonConfig {
  margin-top: 10px;
  margin-bottom: 20px;
}

.campos{
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  font-style: oblique;
  margin: 20px;
}

