.App {
  height: unset;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-image: linear-gradient(0deg, #E6EDF1, #F7FAFB);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: #e2d3ff;
  border-top: medium solid #6A7C95;
  border-bottom: medium solid #6A7C95;
}

.App-principal {
  background-image: linear-gradient(0deg, #769Cf3, #B6E0F8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #e2d3ff;
}

.App-barraTitulo {
  background-image: linear-gradient(90deg, #f4ffff, #4B67A4);
  min-height: 10vh;
  display: flex;
  float:center;
  align-items: center;
  justify-content: left;
  font-size: calc(45px + 2vmin);
  font-style: oblique;
  font-family: Verdana;
  color: #121C3F;
  text-shadow: 3px 3px 6px black;
}

.App-link {
  color: #525194;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* -- NAVBAR -- */
.boton{
float:center;
color: #525194;
text-shadow: 3px 3px 7px #464646;
font-weight: 0;
}

.inicio{float:right;}

/*  -- FOOTER --  */
.main-footer {
  color: #525194;
  background-color: #191942;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* --LOGIN y REGISTER--*/
.loginRegister {
  background-image: linear-gradient(0deg, #769Cf3, #B6E0F8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}